@font-face {
  font-family: "Coolvetica";
  src: url(/assets/fonts/Coolvetica\ Rg.otf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Coolvetica";
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
}
.container-jogo {
  background-color: red;
  width: 150vh;
  height: 80vh;
  margin-top: 30px;
  justify-content: center;
}
header {
  font-size: 20px;
  justify-content: center;
  color: #2c3e50;
  align-items: center;
}

.pontuacao-jogada {
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}
.cards {
  width: 80%;
  max-width: 900px;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas */
  gap: 15px;
  background-color: red;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin:auto 0;

}

.card {
  width: 100%;
  aspect-ratio: 3 / 4;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card img {
  width: 80%;
  height: 80%;
  object-fit: contain;

}